{% extends 'mobile/base.jinja' %}

{% block head %}
<style>
    .img {
        height: 64px;
        width: 64px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Player Control</h1>
    <div id="player-control" class="btn-group d-flex m-3 justify-content-center">
        <button name="restart" type="button" onclick="restart()" class="btn btn-sm">
            <i class="fa-solid fa-backward-fast"></i>
        </button>
        <button id="pauseButton" name="pause" type="button" onclick="pause()" class="btn btn-sm">
            <i id="pauseIcon" class="fa-solid fa-pause"></i>
        </button>
        <button name="skip" type="button" onclick="skip()" class="btn btn-sm">
            <i class="fa-solid fa-forward-fast"></i>
        </button>
    </div>

{% endblock %}

{% block scripts %}
<script>
    const socket = io("{{ url_for('index') }}");

    let pauseButton = document.getElementById('pauseButton');
    let pauseIcon = document.getElementById('pauseIcon');
    let isPaused = false;

    function restart() {
        socket.emit('player_restart');
    }

    function pause() {
        if (isPaused) {
            socket.emit('player_play');
        } else {
            socket.emit('player_pause');
        }
    }

    socket.on('player_resumed', function () {
        pauseIcon.classList.remove('fa-play');
        pauseIcon.classList.add('fa-pause');
        isPaused = false;
    });

    socket.on('player_paused', function () {
        pauseIcon.classList.remove('fa-pause');
        pauseIcon.classList.add('fa-play');
        isPaused = true;
    });

    function skip() {
        socket.emit('player_skip');
    }
    
</script>
{% endblock %}